pkgbase = lunar-magic
	pkgdesc = Level editor for Super Mario World
	pkgver = 3.50
	pkgrel = 1
	url = https://fusoya.eludevisibility.org/lm/index.html
	arch = i686
	arch = x86_64
	license = custom
	makedepends = unzip
	depends = wine
	noextract = lm350.zip
	source = https://fusoya.eludevisibility.org/lm/download/lm350.zip
	source = lunar-magic
	source = lunar-magic.desktop
	source = lunar-magic.png
	sha256sums = 8f7cf983ec6c55e9e421bffddc44e6ef38bf3dff0094a6349f2bc0e03c0082ff
	sha256sums = c1f2ef084107f4947b008bc6fbd6da820b48568a20229ebaaaf5834e31b4ce89
	sha256sums = 33fa325303281102f1fa875053ea84ef50d2adff510d7a17efc9c2df72975efa
	sha256sums = 91317fb39eb5f92dbc11e74bb2179832e8f254c40ecabb16c11cbf0fddd45fad

pkgname = lunar-magic
